---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

img.team_logo {
  float: right;
  width: 100px;
}

h2 {
  clear: both;
}

.quote_link {
  text-align: right;
  font-size: small;
  margin-right: 20%;
}

.trigger .page-link {
  padding: 0 0.25em;
}

@media screen and (min-width: 1000px) {
  .wrapper {
    max-width: calc(1000px - (30px * 2));
    padding-right: 30px;
    padding-left: 30px;
  }
}
